/* You can add global styles to this file, and also import other style files */
body{
    margin: auto;
    background-color: rgb(217, 182, 202);
}
a{
    text-decoration: none;
}

@media screen and (max-width: 1600px) {
    body{
        background-color: rgb(217, 182, 202);;
    }
}
@media screen and (max-width: 1300px) {
    body{
        background-color: rgb(240, 157, 132);
    }
    .dropdown{
        margin-left: 30%;
        margin-top: 26%;
    }
    .heading{
        margin-top: 17%;
        margin-left: 29%;
    }
}
@media screen and (max-width: 800px) {
    body{
        background-color: rgb(135, 180, 211);
    }
    .dropdown {
        width: 87%;
        margin-left: 15%;
        margin-top: 51%;
    }
    .heading {
        margin-top: 34%;
        margin-left: 4%;
    }
    select{
        font-size: 13px;
    }
}
@media screen and (max-width: 1200px) {
    body{
        background-color: rgb(116, 80, 98);
    }
    .dropdown{
        width: 55%;
        margin-left: 27%;
        margin-top: 28%;
    }
    .heading{
        margin-top: 18%;
        margin-left: 26%;
    }
}
@media screen and (max-width: 1000px) {
    body{
        background-color: rgb(83, 133, 91);
    }
    .logo{
        margin-left: 41%;
    }
    .heading {
        margin-top: 23%;
        margin-left: 15%;
    }
    .dropdown {
        width: 74%;
        margin-left: 16%;
        margin-top: 36%;
    }
}
/* @media screen and (max-width: 700px){
    .dropdown {
        width: 74%;
        margin-left: 15%;
        margin-top: 45%;
    }
    select{
        font-size: 13px;
    }
    .heading {
        margin-top: 30%;
        margin-left: 4%;
    }
} */




@media screen and (max-width: 600px) {
    .heading {
        margin-top: 35%;
        margin-left: 2%;
        font-size: 50px;
    }
    .dropdown {
        width: 94%;
        margin-left: 4%;
        margin-top: 54%;
    }
    .logo{
        margin-left: 35%;
    }
    select{
        font-size: 16px;
    }
}
@media screen and (max-width: 500px) {
    select{
        font-size: 11px;
    }
    .heading{
        font-size: 36px;
        margin-top: 52%;
        margin-left: 4%;
    }
    .logo{
        margin-left: 34%;
        margin-top: 4%;
    }
    .dropdown{
        margin-top: 75%;
        margin-left: 3%;
    }

}
@media screen and (max-width: 400px){
    .heading {
        font-size: 32px;
        margin-top: 57%;
        margin-left: 3%;
    }
    select {
        font-size: 9px;
    }
    .dropdown{
        width: 78%;
        margin-top: 83%;
        margin-left: 9%;
    }
    #restSelect {
        width: 58%;
    }
    .logo{
        margin-left: 29%;
    }
}